<div class="card petCard" >    

    <% if(pet.image !== "") {%>
        <img src="<%=pet.image%>" class="card-img-top" alt="...">
    <% } else {%>
        <img src='/assets/no_image.png' class="card-img-top" alt="...">
        <% }%>

    
    <div class="card-body">
      <h2 class="card-title"><%=pet.name%></h2>
      <p class="card-subtitle mb-2 text-muted"><%=pet.animal%></p>      
      <div class="d-flex justify-content-end">                    
            <button id='button-delete-id-<%=pet._id%>' type='submit' class="btn btn-secondary me-2">Eliminar</button>            
            <button id='button-update-id-<%=pet._id%>' class=" btn btn-primary ">Actualizar</button>
      </div>
    </div>
  </div>
 <script src="/js/components/card.js" data-petid='<%=pet._id%>'></script>
