<li class="nav-item" id="navItem-<%=id%>">
    <a class="nav-link"  href="<%= href %>"><%= text %></a>
</li>

<script src="/js/components/navBarItem.js" data-id="navItem-<%=id%>" data-currentpage="<%=currentPage%>">
   
</script>